.flex-g{
    text-align: center;
    position: top;
    top: 50%;
    left: 50%;
    
}
.flex-p{
    text-align: center;
    position: top;
    top: 50%;
    left: 50%;
    padding-top: 3%;
    padding-bottom: 3%;

}
.d-flex{
    display: flexbox;
    
}